<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title lang="ja">Todos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="./public/css/todo.css">
<body>
<div class="container">
    <h1>Todos</h1>
    <form action="">
        <div class="input-group mb-3">
            <input type="text" id="js-new-todo" class="form-control" placeholder="What needs to be done?">
            <div id="js-new-todo-btn" class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">TODOを追加</button>
            </div>
        </div>
    </form>

    <!-- TODOリストの表示領域 -->
    <% const todosLength = Object.keys(todos).length%>
    <ul id="jd-todos" class="list-group list-group-flush">
        <% for (let i = 0; i < todosLength; i += 1) { %>
        <li class="list-group-item" id="todo_<%= todos[i].id %>" data-id="<%= todos[i].id %>">
            <input type="checkbox" class="js-check-todo" <%= todos[i].state === 1 ? 'checked' : '' %>>
            <span class="<%= todos[i].state === 1 ? 'done' : '' %>"><%= todos[i].title %></span>
            <button type="button" class="close js-close-todo" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </li>
        <% } %>
       <li class="list-group-item" id="js-todo-template" style="display: none">
            <input type="checkbox" class="js-check-todo">
            <span class="todo_title"></span>
           <button type="button" class="close js-close-todo" aria-label="Close">
               <span aria-hidden="true">&times;</span>
           </button>
        </li>
    </ul>
    <!-- TODOリストの表示領域 -->

    <script src="../public/js/todo.js"></script>
</div>
</body>
</html>
